<mat-toolbar style="background-color: rgb(153, 153, 241)">
  <h2>Angular DevInfra — Import fixit</h2>
</mat-toolbar>

<div style="padding: 15px">
  <p>Hello <strong>awesome Angular Team Member</strong>,</p>
  <p>
    Today, you will be looking at a fixit organized by DevInfra that will help
    us move forward with our Bazel migration.

    <br />
    The migration modernizes, cleans-up and improves our base infrastructure so
    that we can continue to actually evolve Angular with many new features.
  </p>
  <p>
    You can find more details about this in the
    <a
      href="https://docs.google.com/document/d/1Ci9rWvh29BhBBFDoG2jqtQGYi9cP3ZSizg4locb0Q_4/edit?resourcekey=0-Qe5nUAALIe-1y8rD_rJKAA&tab=t.0"
      >in-depth design doc</a
    >
    or
    <a
      href="https://docs.google.com/document/d/1ohfWtzR_OkoGPbclTJyuxp5GrXrtAW3SwDiPIH2v8Ts/edit?resourcekey=0-wAonmJWlo8toaJtPjSA17Q&tab=t.0#heading=h.xzptrog8pyxf"
      >one-pager doc</a
    >. The one-pager has concrete examples of what we unlock, so feel free to
    take a look!
  </p>

  <hr style="height: 2px; border: none; background: rgb(142, 140, 140)" />

  <h3>What do we need to do?</h3>
  <p>
    We ask you to help us clean-up our imports in the Framework and Components
    repositories.

    <br />

    The goal is to ultimately have consistent rules on when to import
    <strong>relatively</strong>, or via <strong>npm module name</strong>.
  </p>

  <h3>What are the rules?</h3>

  <ul>
    <li>
      <strong>Use relative import</strong> if you import within the same
      package.
    </li>
    <li>
      <strong>Use npm module name</strong> if you import from another package.
    </li>
  </ul>

  <p style="max-width: 1100px">
    A <strong>package</strong> is e.g. `&#64;angular/core`,
    `&#64;angular/forms`, or `&#64;angular/material`. <br />Some packages are
    very large and have many entry-points. Don't let you confuse by this; the
    thing that counts is the "package" that you install from NPM. e.g.
    `&#64;angular/material`; even if there are many entry-points that could seem
    like individual packages.
  </p>

  <h4>Examples</h4>
  <mat-tab-group
    style="
      max-width: 900px;
      border: 1px solid rgb(184, 184, 184);
      padding: 10px;
    "
  >
    @for (example of examples; track example; let index = $index) {
      <mat-tab label="Example {{ example.category }} #{{ index }}">
        <div
          [class.showing-solution]="
            example.showSolution || example.after === null
          "
        >
          <code
            lineNumbers
            [highlight]="
              example.showSolution && example.after !== null
                ? example.after
                : example.before
            "
            language="typescript"
          ></code>

          @if (example.showSolution || example.after === null) {
            <p>
              <strong>Explanation</strong>
            </p>
            <p>
              <span
                class="explanation"
                [innerHTML]="prepareExplanation(example.explanation)"
              >
              </span>
            </p>
          }

          @if (example.after !== null) {
            <br />
            <button
              mat-flat-button
              (click)="example.showSolution = !example.showSolution"
            >
              {{ example.showSolution ? 'Hide' : 'Show' }} solution
            </button>
            <br />
            <br />
          }
        </div>
      </mat-tab>
    }
  </mat-tab-group>

  <h3>Why is this needed?</h3>

  <div style="max-width: 1110px">
    <p>
      This is a short explanation, but there are a few reasons leading us to
      these new guidelines. In general, it's a positive change as it encourages
      better code health and defines clear guidelines on how to import.
    </p>
    <p>
      With the migration to `rules_js`, we will be following more of the
      industry standards. We will be leveraging a feature called pnpm
      workspaces. This feature allows us to link packages we build inside a
      monorepo. For example, it allows us to use `&#64;angular/core` inside
      `&#64;angular/forms`, even though we don't want to install a version of
      core from npm; but instead use the `HEAD` version from sources.
    </p>
    <p>
      The way pnpm workspaces is integrated into `rules_js` and Bazel, we no
      longer have the ability to support npm-module names for simple e.g.
      `ts_library` targets. This is a deliberate design decision and in
      principle is reasonable. The effect is that we need to use the actual npm
      packages (and their module names) when referencing something between local
      packages. We could avoid this, but then we have to use relative imports
      throughout the whole repository. This is inpractical and also makes
      bundling non-trivial.
    </p>
    <p>
      A positive outcome is also that tests from e.g. Angular core don't
      actually import and test private things from e.g. Angular forms.
    </p>
  </div>
</div>
